{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block page_title %}AH: Payment{% endblock %}
{% block page_heading %}
<div class="row no-gutters align-items-center">
    <span>
        <img class="page-heading-img" src="{% static 'logos/ah_logo_small.png' %}" alt="Image for Artifact Hunters Logo"> 
    </span>
    <span class="align-middle">
        <h1 class="page-heading-padding">Payment</h1>
    </span>
</div>
{% endblock %}

{% block content %}
<div class="row no-gutters">
    <div class="col-12 card-padding-top-bottom">
        <div class="card border-secondary box-shadow">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light">
                    <h4>Cart</h4>
                </li>
                <div class="row no-gutters bg-light-grey">
                {% if cart_items %}
                {% for item in cart_items %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 card-padding">
                    <div class="card bg-light border-secondary h-100 box-shadow">
                        <ul class="list-group list-group-flush">
                            <img class="card-img-small bg-grey" src="{{ MEDIA_URL }}{{ item.artifact.image }}" alt="Image for {{ item.artifact.name }}">
                            <li class="list-group-item bg-light">
                                <h5 class="card-title">{{ item.artifact.name }}</h5>
                                <p class="card-text">Purchase Price: EUR {{ item.artifact.purchase_price }}</p>
                                <p class="card-text">Quantity: {{ item.quantity }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% if bid_cart_items %}
                {% for item in bid_cart_items %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 card-padding">
                    <div class="card bg-light border-secondary h-100 box-shadow">
                        <ul class="list-group list-group-flush">
                            <img class="card-img-small bg-grey" src="{{ MEDIA_URL }}{{ item.artifact.image }}" alt="Image for {{ item.artifact.name }}">
                            <li class="list-group-item bg-light">
                                <h5 class="card-title">{{ item.artifact.name }}</h5>
                                <p class="card-text">Bid Amount: EUR {{ item.bid_amount }}</p>
                                <p class="card-text">Quantity: {{ item.quantity }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </ul>    
        </div>
    </div>
</div>
<div class="row justify-content-around no-gutters">
    <div class="col-12 col-sm-6 col-lg-4 card-padding-left card-padding-top-bottom">
        {% if total != 0 %}
        <div class="card bg-light border-secondary box-shadow">
            <ul class="list-group list-group-flush">
                <img class="card-img-small" src="{% static 'logos/ah_logo_full.png' %}" alt="Image for Artifact Hunters Logo">
                <li class="list-group-item bg-light text-center">
                    <h4>Your Total</h4>
                </li>
                <li class="list-group-item bg-light">
                    <h5 class="card-title">Total: EUR {{ total }}</h5>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>

<div class="row no-gutters">
    <div class="col-12 card-padding-top-bottom">
        <div class="card border-secondary box-shadow">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light">
                    <h4>Checkout</h4>
                </li>
                <form role="form" method="POST" id="payment-form" action="{% url 'payment' %}">
                    <div id="credit-card-errors" style="display: none;">
                        <div id="alert-message block-message error" id="stripe-error-message"></div>
                    </div>
                    <div class="row no-gutters bg-light-grey">
                        <div class="col-12 col-md-6 card-padding">
                            <div class="card bg-light border-secondary h-100 box-shadow">
                                <div class="form-group">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-light">
                                            <h5>Delivery details:</h5>
                                        </li>
                                        <li class="list-group-item bg-light">
                                            {{ order_form | as_bootstrap }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 card-padding">
                            <div class="row no-gutters justify-content-around">
                                <div class="col-12">
                                    <div class="card bg-light border-secondary h-100 box-shadow">
                                        <div class="form-group">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item bg-light">
                                                    <h5>Payment details:</h5>
                                                </li>
                                                <li class="list-group-item bg-light">
                                                    {{ payment_form | as_bootstrap }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% csrf_token %}
                                <div class="col-12 col-sm-5 col-md-7 col-lg-6 col-xl-5 card-padding-top-bottom">
                                    <div class="card bg-light border-secondary h-100 box-shadow">
                                        <div class="form-group">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item bg-light">
                                                    <h5>Pay:</h5>
                                                </li>
                                                <li class="list-group-item bg-light text-center">
                                                    <input class="btn btn-success box-shadow" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </form>
            </ul>
        </div>
    </div>
</div>
{% endblock %}