{% extends "base.html" %}
{% load static from staticfiles %}
{% block page_title %}AH: Password Reset{% endblock %}
{% block page_heading %}
<div class="row no-gutters align-items-center">
    <span>
        <img class="page-heading-img" src="{% static 'logos/ah_logo_small.png' %}" alt="Image for Artifact Hunters Logo"> 
    </span>
    <span class="align-middle">
        <h1 class="page-heading-padding">Password Reset</h1>
    </span>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-around no-gutters">
    <div class="col-12 col-sm-6 col-md-5 card-padding-top-bottom">
        <div class="card bg-light border-secondary box-shadow">
            <ul class="list-group list-group-flush">
                <img class="card-img-top" src="{% static 'logos/ah_logo_full.png' %}" alt="Image for Artifact Hunters Logo">
                <li class="list-group-item bg-light text-center">
                    <h4>Reset Password</h4>
                </li>
                <li class="list-group-item bg-light text-center">
                    <form method="POST">
                        <p>Please enter your new password</p>
                        {% csrf_token %}
                        {{ form.password.errors }}
                        <p>
                            <label for="id_password1">New Password:</label>
                            {{ form.password1 }}
                            <label for="id_password2">Confirm Password:</label>
                            {{ form.password2 }}
                            <button class="btn btn-success btn-lg box-shadow" type="submit">Reset Password</button>
                        </p>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}