{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}AH: Password Reset{% endblock %}
{% block page_heading %}
<div class="row no-gutters align-items-center">
    <span>
        <img class="page-heading-img" src="{% static 'logos/ah_logo_small.png' %}" alt="Image for Artifact Hunters Logo"> 
    </span>
    <span class="align-middle">
        <h1 class="page-heading-padding">Password Reset</h1>
    </span>
</div>
{% endblock %}

<!-- Code adapted from https://wsvincent.com/django-user-authentication-tutorial-password-reset/ -->

{% block content %}
<div class="row justify-content-around no-gutters">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 card-padding-top-bottom">
        <div class="card bg-light border-secondary box-shadow">
            <ul class="list-group list-group-flush">
                <img class="card-img-top" src="{% static 'logos/ah_logo_full.png' %}" alt="Image for Artifact Hunters Logo">
                <li class="list-group-item bg-light text-center">
                    <h4>Reset Password</h4>
                </li>
                <li class="list-group-item bg-light">
                    {% if validlink %}
                    <form method="POST">
                        <p>Please enter and confirm a new password...</p>
                        {% csrf_token %}
                        {{ form.errors }}
                        <div id="div_id_new_password1" class="form-group">
                            <label for="id_new_password1" class="control-label required-field">New Password:</label>
                            <input type="password" name="new_password1" class="form-control" required="" id="id_new_password1" placeholder="Choose a new password...">
                        </div>
                        <div id="div_id_new_password2" class="form-group">
                            <label for="id_new_password2" class="control-label required-field">Confirm Password:</label>
                            <input type="password" name="new_password2" class="form-control" required="" id="id_new_password2" placeholder="Confirm new password...">
                        </div>
                        <p class="text-center">
                        <button class="btn btn-success btn-lg box-shadow" type="submit">Reset Password</button>
                        </p>
                    </form>
                    {% else %}
                    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}