{% extends "base.html" %}
{% load static from staticfiles %}
{% block page_title %}AH: Password Reset{% endblock %}
{% block page_heading %}
<div class="row no-gutters align-items-center">
    <span>
        <img class="page-heading-img" src="{% static 'logos/ah_logo_small.png' %}" alt="Image for Artifact Hunters Logo"> 
    </span>
    <span class="align-middle">
        <h1 class="page-heading-padding">Password Reset</h1>
    </span>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-around no-gutters">
    <div class="col-12 col-sm-6 col-md-5 card-padding-top-bottom">
        <div class="card bg-light border-secondary box-shadow">
            <ul class="list-group list-group-flush">
                <img class="card-img-top" src="{% static 'logos/ah_logo_full.png' %}" alt="Image for Artifact Hunters Logo">
                <li class="list-group-item bg-light text-center">
                    <h4>Reset Password</h4>
                </li>
                <li class="list-group-item bg-light text-center">
                    {% if validlink %}

                    <h1>Set a new password!</h1>
                    <form method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <input type="submit" value="Change my password">
                    </form>
                    
                    {% else %}
                    
                    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                    
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}