{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}AH: Review{% endblock %}
{% block page_heading %}Review{% endblock %}

{% block content %}
<div class="row justify-content-around no-gutters">
    <div class="col-12 col-md-7 col-lg-8 card-padding">
        <div class="card bg-light border-secondary box-shadow">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light">
                    <h3>{{ artifact.name }}</h3>     
                    <h4>Reviews</h4>
                </li>
                <div class="row no-gutters bg-light-grey">
                {% if reviews %}
                    {% for review in reviews %}
                    <div class="col-12 col-sm-6 card-padding">
                        <div class="card bg-light border-secondary h-100 box-shadow">
                            <li class="list-group-item bg-light">
                                <p>Review: {{ review.review_detail }}</p>
                                <p>{{ review.review_owner_name }} on {{ review.review_date }}</p>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="col-12 card-padding">
                    <div class="card bg-light border-secondary h-100 box-shadow">
                        <li class="list-group-item bg-light">No reviews for this artifact</li>
                    </div>
                </div>
                {% endif %}
                </div>
            </ul>
        </div>
    </div>
    {% if owner == True and reviewed == False %}
    <div class="col-12 col-md-5 col-lg-4 card-padding">
        <div class="card bg-light-grey border-secondary box-shadow"> 
            <li class="list-group-item bg-light">
                <h4>Add Review</h4>
            </li>
            <div class="col-12 card-padding">
                <div class="card bg-light border-secondary h-100 box-shadow">
                    <li class="list-group-item bg-light">
                        <form role="form" method="POST" id="review-form" action="{% url 'add_review' artifact.id %}">
                            <h5>Review details:</h5>
                            {{ review_form | as_bootstrap }}
                            {% csrf_token %}
                            <input class="btn btn-success btn-lg box-shadow" id="add_review_btn" name="commit" type="submit" value="Add Review">
                        </form>
                    </li>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}