{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style sheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/sandstone/bootstrap.min.css" integrity="sha256-oP5uUxywlq68olzn9VvPJQdKbbnVOaBNRfnNsSNklf0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'logos/favicon.ico' %}" type="image/x-icon" />
    
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block head_js %}
    {% endblock head_js %}
    
    <title>{% block page_title %}{% endblock %}</title>

</head>
<body>
    
    <!-- Navigation section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow">
        <a class="navbar-brand" href="/">
            <img src="{% static 'logos/ah_logo_full4.png' %}" alt="Image for Artifact Hunters Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artifacts' %}">Artifacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_cart' %}">Cart</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_user_bids' %}">My Bids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0 box-shadow" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!-- Content section -->
    <div class="container-fluid">
        {% block page_heading %}{% endblock %}
        {% if messages %}
        <div class="row justify-content-around no-gutters">
            <div class="col-12 col-md-6 text-center">
                <hr>
                    {% for message in messages %} 
                    <div class="alert alert-{{ message.tags }} alert-dismissible border-secondary box-shadow" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
                <hr>
            </div>
        </div>
        {% endif %}
        {% block content %} {% endblock %}
    </div>
    
    <!-- Footer section -->
    <footer class="container-fluid footer-position">
        <div class="row footer-padding-top bg-light box-shadow">
            <div class="col-sm-4 text-center">
                <h6 class="text-uppercase footer-heading">Social Media</h6>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a target="_blank" aria-label="Link to Facebook" rel="noopener" href="https://www.facebook.com/">
                            <i class="fab fa-facebook footer-link" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" aria-label="Link to Twitter" rel="noopener" href="https://twitter.com/">
                            <i class="fab fa-twitter footer-link" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" aria-label="Link to YouTube" rel="noopener" href="https://www.youtube.com/">
                            <i class="fab fa-youtube footer-link" aria-hidden="true"></i>
                            <span class="sr-only">YouTube</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" aria-label="Link to Instagram" rel="noopener" href="https://instagram.com/">
                            <i class="fab fa-instagram footer-link" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h6 class="text-uppercase footer-heading">Developer</h6>
                <p>This site has been created by Jonathan Painter. View the README here:
                    <a href="https://github.com/jepainter/MilestoneProject4/blob/master/README.md" target="_blank" aria-label="Link to readme" rel="noopener">
                        <i class="fas fa-download footer-link" aria-hidden="true"></i>
                        <span class="sr-only">Readme Link.</span>
                    </a>
                </p>
            </div>
            <div class="col-sm-4">
                <h6 class="text-uppercase footer-heading">Disclaimer</h6>
                <p>This site is created for education purposes only.</p>
            </div>
            
        </div>
    </footer>    
    
    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.dropdown-toggle').dropdown();
        });
    </script>
    
</body>
</html>
