{% extends "base.html" %}
{% load static from staticfiles %}
{% block page_title %}AH: Bids{% endblock %}
{% block page_heading %}Bids{% endblock %}

{% block content %}
<div class="row justify-content-around no-gutters">
    <div class="col-3">
        <p>Artifact ID: {{ artifact_id }}</p>
        <p>Artifact Name: {{ artifact_name }}</p>
        <p>Bid Event ID: {{ bid_event_id }}</p>
        <p>Reserve Price: {{ reserve_price }}</p>
        <p>Highest Bid: {{ highest_bid }}</p>
    </div>
    <div class="col-5">
        <p>Form position</p>    
    </div>
</div>

<div class="row">
    {% for bid in bids %}
    <div class="col-3">
        <p>Bid Event Id: {{ bid.bid_event.id }}</p>
        <p>Bid Line Id: {{ bid.id }}</p>
        <p>Artifact name: {{ bid.bid_event.artifact.name }}</p>
        <p>Bid Amount: {{ bid.bid_amount }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}