{% extends "base.html" %}
{% load static from staticfiles %}
{% block page_title %}AH: Bids{% endblock %}
{% block page_heading %}Bids{% endblock %}

{% block content %}
<div class="row justify-content-around no-gutters">
    <p>Artifact ID: {{ artifact_id }}</p>
    <p>Artifact Name: {{ artifact_name }}</p>
    <p>Reserve Price: {{ reserve_price }}</p>
    <p>Current Bid: {{ highest_bid }}</p>
</div>

<div class="row">
    {% for bid in bids %}
        <p>Bid ID: {{ bid.id }}</p>
        <p>Artifact name: {{ bid.bid_id.artifact.name }}</p>
        <p>Bid Amount: {{ bid.bid_amount }}</p>
    {% endfor %}
</div>
{% endblock %}