{% extends "base.html" %}
{% load static from staticfiles %}
{% block page_title %}AH: MyBids{% endblock %}
{% block page_heading %}My Bids{% endblock %}

{% block content %}
<div class="row justify-content-around no-gutters">
    <p>User ID: {{ user.id }}</p>
    <p>User Name: {{ user.username }}</p>
    <p>User Email: {{ user.email }}</p>
</div>

<div class="row no-gutters">
    <h3>Open bids</h3>
</div>
<div class="row">
    {% for bid in bids %}
    {% if bid.bid_event.bid_event_deadline > datetime %}
    <div class="col-3">
        <p>Bid ID: {{ bid.id }}</p>
        <p>Bid Event ID: {{ bid.bid_event.id }}</p>
        <p>Bid Status: {{ bid.bid_event.bid_event_status }}</p>
        <p>Artifact Name: {{ bid.bid_event.artifact.name }} </p>
        <p>Bidder: {{ bid.bid_user.username }}</p>
        <p>Bid Amount: {{ bid.bid_amount }}</p>
        <p>Bid Quantity: {{ bid.bid_quantity }}</p>
        <form role="form" action="{% url 'adjust_bid' bid.id %}" method="POST">
            <label for="adjust_amount">Change Amount:</label>
            <input name="adjust_amount" type="number" min="0.00" step="0.01" class="form-control" value="{{ bid.bid_amount }}" placeholder="Adjust amount">
            <label for="adjust_quantity">Change Quantity:</label>
            <input name="adjust_quantity" type="number" min="0" max="{{ bid.bid_event.artifact.quantity }}" class="form-control" value="{{ bid.bid_quantity }}" placeholder="Adjust quantity">
            {% csrf_token %}
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Adjust bid</button>
            </span>
        </form>
        <a href="{% url 'remove_bid' bid.id %}" method="POST">Remove bid</a>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="row no-gutters">
    <h3>Closed bids</h3>
</div>
<div class="row">
    {% for bid in bids %}
    {% if bid.bid_event.bid_event_deadline <= datetime %}
    <div class="col-3">
        <p>Bid ID: {{ bid.id }}</p>
        <p>Bid Event ID: {{ bid.bid_event.id }}</p>
        <p>Bid Status: {{ bid.bid_event.bid_event_status }}</p>
        <p>Artifact Name: {{ bid.bid_event.artifact.name }} </p>
        <p>Bidder: {{ bid.bid_user.username }}</p>
        {% if bid.bid_highest == True %}
        <p>Highest Bid: True</p>
        {% endif %}
        <p>Bid Amount: {{ bid.bid_amount }}</p>
        <p>Bid Quantity: {{ bid.bid_quantity }}</p>
        {% if bid.bid_highest == True %}
            <h6>Pay for artifact:</h6>
            <form action="{% url 'add_to_cart' bid.bid_event.artifact.id %}" method="POST">
                {% csrf_token %}
                <input name="quantity" type="number" min="{{bid.bid_quantity }}" max="{{ bid.bid_quantity }}" value="{{ bid.bid_quantity }}" class="form-control" placeholder="{{ bid.bid_quantity }}" required>
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add to cart</button>
                </span>
            </form>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>



{% endblock %}