{% extends "base.html" %}
{% load static from staticfiles %}
{% block page_title %}AH: Artifacts{% endblock %}
{% block page_heading %}Artifacts{% endblock %}

{% block content %}

<div class="row no-gutters">
    {% for artifact in artifacts %}
        <div class="card col-xs-10 col-sm-6 col-md-4 col-lg-3">
            <img class="card-img-top artifact" src="url('{{ MEDIA_URL }}{{ artifact.image }}')" alt="{{ artifact.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ artifact.name }}</h5>
                <p class="card-text">Description: {{ artifact.description }}</p>
                <p class="card-text">Category: {{ artifact.category.category_name }}</p>
                <a href="{% url 'view_artifact' artifact.id %}">View detail</a>
                <a href="{% url 'view_bids' artifact.id %}">View bids</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}