{% extends "base.html" %}
{% load static from staticfiles %}
{% block page_title %}AH: Artifact Detail{% endblock %}
{% block page_heading %}
<div class="row no-gutters align-items-center">
    <span>
        <img class="page-heading-img" src="{% static 'logos/ah_logo_small.png' %}" alt="Image for Artifact Hunters Logo"> 
    </span>
    <span class="align-middle">
        <h1 class="page-heading-padding">Artifact</h1>
    </span>
</div>
{% endblock %}

{% block content %}

<div class="row justify-content-around no-gutters">
    <div class="col-12 card-padding">
        <div class="card bg-light-grey border-secondary padding-10 box-shadow">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="card bg-light border-secondary card-padding h-100 box-shadow">
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{ artifact.image }}" alt="Image for {{ artifact.name }}">
                        <h3 class="card-title">{{ artifact.name }}</h3>
                        <p class="card-text">Category: {{ artifact.category.category_name }}</p>
                        <p class="card-text">Reserve Price: EUR {{ artifact.reserve_price }} | Purchase Price: EUR {{ artifact.purchase_price }}</p>
                        <p class="card-text">Quantity Available: {{ artifact.quantity }}</p>
                        <p class="card-text">Description: {{ artifact.description }}</p>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 padding-sm-screen">
                    <div class="card bg-light border-secondary h-100 box-shadow">    
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-light">
                                <p>Bid Deadline: {{ bid_event.bid_event_deadline }}</p>
                                <p>Time Page Loaded: {{ datetime }}</p>
                                {% if bid_event.bid_event_deadline > datetime %}
                                <p>Bidding Open</p>
                                {% else %}
                                <p>Bidding Closed</p>
                                {% endif %}
                            </li>
                            {% if bid_event.bid_event_deadline > datetime %}
                                {% if artifact.quantity != 0 %}
                                    {% if user.is_authenticated %}
                                        {% if bid_line_item %}
                                        <li class="list-group-item bg-light">
                                            <form role="form" action="{% url 'adjust_bid' bid_line_item.id %}" method="POST">
                                                <label for="adjust_amount">Change Amount:</label>
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">EUR</span>
                                                    </div>
                                                    <input name="adjust_amount" type="number" min="{{ artifact.reserve_price }}" step="0.01" class="form-control" value="{{ bid_line_item.bid_amount }}" placeholder="Adjust amount" required>
                                                </div>
                                                <label for="adjust_quantity">Change Quantity:</label>
                                                <input name="adjust_quantity" type="number" min="1" max="{{ bid_line_item.bid_event.artifact.quantity }}" class="form-control" value="{{ bid_line_item.bid_quantity }}" placeholder="Adjust quantity" required>
                                                {% csrf_token %}
                                                <span class="input-group-btn">
                                                    <button class="btn btn-warning btn-margin box-shadow" type="submit">Adjust bid</button>
                                                </span>
                                                <span class="input-group-btn">
                                                    <a class="btn btn-danger btn-margin box-shadow" href="{% url 'remove_bid' bid_line_item.id %}" method="POST">Remove bid</a>
                                                </span>
                                            </form>
                                        </li>
                                        <li class="list-group-item bg-light">Purchase not possible, existing bid</li>
                                        {% else %}
                                            {% if artifact_in_cart %}
                                            <li class="list-group-item bg-light">Bidding not possible, item in cart</li>
                                            <li class="list-group-item bg-light">
                                                <form role="form" action="{% url 'adjust_cart' artifact.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <label for="quantity">Change Quantity:</label>
                                                    <input name="quantity" type="number" min="1" max="{{ artifact.quantity }}" class="form-control" value="{{ artifact_in_cart.artifact_quantity }}" placeholder="How many do you want..." required>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-warning btn-margin box-shadow" type="submit">Adjust cart</button>
                                                    </span>
                                                    <span class="input-group-btn">
                                                        <a class="btn btn-danger btn-margin box-shadow" href="{% url 'remove_item_from_cart' artifact.id %}" method="POST">Remove item</a>
                                                    </span>
                                                </form>
                                            </li>
                                            {% else %}
                                            <li class="list-group-item bg-light">
                                                <h6>Place a bid:</h6>
                                                <form role="form" action="{% url 'add_bid' artifact.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <label for="bid_amount">Choose Amount:</label>
                                                    <div class="input-group mb-1">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">EUR</span>
                                                        </div>
                                                        <input name="bid_amount" type="number" min="{{ artifact.reserve_price }}" step="0.01" class="form-control" placeholder="What do you want to bid..." required>
                                                    </div>
                                                    <label for="bid_quantity">Choose Quantity:</label>
                                                    <input name="bid_quantity" type="number" min="1" max="{{ artifact.quantity }}" class="form-control" placeholder="How many do you want..." required>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success btn-margin box-shadow" type="submit">Place bid</button>
                                                    </span>
                                                </form>
                                            </li>
                                            <li class="list-group-item bg-light">
                                                <h6>Purchase artifact:</h6>
                                                <form action="{% url 'add_to_cart' artifact.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <label for="quantity">Choose Quantity:</label>
                                                    <input name="quantity" type="number" min="1" max="{{ artifact.quantity }}" class="form-control" placeholder="How many do you want..." required>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success btn-margin box-shadow" type="submit">Add to cart</button>
                                                    </span>
                                                </form>
                                            </li>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                    <li class="list-group-item bg-light">
                                        <p>To bid, you need to log in first</p>
                                        <a class="btn btn-secondary box-shadow" href="{% url 'login' %}">Log in here</a>
                                    </li>
                                    <li class="list-group-item bg-light">
                                        <h6>Purchase artifact:</h6>
                                        {% if artifact_in_cart %}
                                        <form action="{% url 'adjust_cart' artifact.id %}" method="POST">
                                            {% csrf_token %}
                                            <label for="quantity">Change Quantity:</label>
                                            <input name="quantity" type="number" min="1" max="{{ artifact.quantity }}" class="form-control" value="{{ artifact_in_cart.artifact_quantity }}" placeholder="How many do you want..." required>
                                            <span class="input-group-btn">
                                                <button class="btn btn-warning btn-margin box-shadow" type="submit">Adjust cart</button>
                                            </span>
                                            <span class="input-group-btn">
                                                <a class="btn btn-danger btn-margin box-shadow" href="{% url 'remove_item_from_cart' artifact.id %}" method="POST">Remove item</a>
                                            </span>
                                        </form>
                                        {% else %}
                                        <form action="{% url 'add_to_cart' artifact.id %}" method="POST">
                                            {% csrf_token %}
                                            <label for="quantity">Choose Quantity:</label>
                                            <input name="quantity" type="number" min="1" max="{{ artifact.quantity }}" class="form-control" placeholder="How many do you want..." required>
                                            <span class="input-group-btn">
                                                <button class="btn btn-success btn-margin box-shadow" type="submit">Add to cart</button>
                                            </span>
                                        </form>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                {% else %}
                                <li class="list-group-item bg-light">
                                    <p>Item SOLD OUT!</p>
                                </li>
                                {% endif %}
                            {% else %}
                            <li class="list-group-item bg-light">
                                <p>Bidding and Purchasing has been closed</p>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-around no-gutters">
    <div class="col-12 card-padding">
        <div class="card bg-light border-secondary box-shadow">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light">
                    <h4>History:</h4>
                </li>
                <div class="row no-gutters bg-light-grey">
                    {% if history_events %}
                    <div class="col-12 card-padding">
                        <div class="card bg-light border-secondary h-100 box-shadow">
                            <div class="history-spacing">
                            {% for history_event in history_events %}
                                <div class="history-date-item" data-dates="{{ history_event.event_year }} {{ history_event.event_era }}:">
                                    <p>{{ history_event.event_description }}</p>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-12 card-padding">
                        <div class="card bg-light border-secondary h-100 box-shadow">
                            <li class="list-group-item bg-light">No history recorded for this artifact</li>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if request.user.is_superuser or owner == True %}
                    <li class="list-group-item bg-light">
                        <a class="btn btn-secondary btn-lg box-shadow" href="{% url 'view_history' artifact.id %}">Add history event</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


<div class="row justify-content-around no-gutters">         
    <div class="col-12 card-padding">
        <div class="card bg-light border-secondary box-shadow">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light">
                    <h4>Reviews:</h4>
                </li>
                <div class="row no-gutters bg-light-grey">
                {% if reviews %}
                    {% for review in reviews %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 card-padding">
                        <div class="card bg-light border-secondary h-100 box-shadow">
                            <li class="list-group-item bg-light">
                                <p>{{ review.review_detail }}</p>
                                <p>{{ review.review_owner_name }} on {{ review.review_date }}</p>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="col-12 card-padding">
                    <div class="card bg-light border-secondary h-100 box-shadow">
                        <li class="list-group-item bg-light">No reviews recorded for this artifact</li>
                    </div>
                </div>
                {% endif %}
                </div>
                {% if owner == True and reviewed == False %}
                <li class="list-group-item bg-light">
                    <a class="btn btn-secondary btn-lg box-shadow" href="{% url 'add_review' artifact.id %}">Add review event</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}